Print "Hello, World!" to the console.

In [1]:
print("Hello, World!")

Hello, World!

Print the sum of two numbers to the console.

In [2]:
num1 = 5
num2 = 10
sum = num1 + num2
print("The sum of", num1, "and", num2, "is", sum)

The sum of 5 and 10 is 15

Find the average of a list of numbers.

In [5]:
my_sum = 0
my_numbers = [1, 2, 3, 4, 5]
for num in my_numbers:
    my_sum += num
average = my_sum / len(my_numbers)
print("The average of the numbers is", average)

The average of the numbers is 3.0

Generate a random integer between 1 and 100.

In [6]:
import random
random_number = random.randint(1, 100)
print("The random number is", random_number)

The random number is 77

Check if a number is even or odd.

In [7]:
number = 6
if number % 2 == 0:
    print(number, "is even")
else:
    print(number, "is odd")

6 is even

Reverse a string.

In [8]:
string = "hello"
reverse_string = string[::-1]
print("The reverse of", string, "is", reverse_string)

The reverse of hello is olleh

Check if a string is a palindrome.

In [9]:
string = "racecar"
if string == string[::-1]:
    print(string, "is a palindrome")
else:
    print(string, "is not a palindrome")

racecar is a palindrome

Remove duplicates from a list.

In [10]:
numbers = [1, 2, 3, 3, 4, 5, 5]
unique_numbers = list(set(numbers))
print("The unique numbers are", unique_numbers)

The unique numbers are [1, 2, 3, 4, 5]

Find the minimum number in a list.

In [11]:
numbers = [1, 2, 3, 4, 5]
minimum_number = min(numbers)
print("The minimum number is", minimum_number)

The minimum number is 1

Sort a list in ascending order.

In [12]:
numbers = [5, 2, 1, 4, 3]
sorted_numbers = sorted(numbers)
print("The sorted numbers are", sorted_numbers)

The sorted numbers are [1, 2, 3, 4, 5]

Sort a list in descending order.

In [13]:
numbers = [5, 2, 1, 4, 3]
sorted_numbers = sorted(numbers, reverse=True)
print("The sorted numbers are", sorted_numbers)

The sorted numbers are [5, 4, 3, 2, 1]

Add two matrices.

In [14]:
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
result_matrix = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
for i in range(len(matrix1)):
    for j in range(len(matrix1[0])):
        result_matrix[i][j] = matrix1[i][j] + matrix2[i][j]
print("The sum of the matrices is", result_matrix)

The sum of the matrices is [[10, 10, 10], [10, 10, 10], [10, 10, 10]]

Find the factorial of a number.

In [15]:
number = 5
factorial = 1
for i in range(1, number + 1):
    factorial *= i
print("The factorial of", number, "is", factorial)

The factorial of 5 is 120

Find the GCD of two numbers.

In [16]:
import math
number1 = 24
number2 = 36
gcd = math.gcd(number1, number2)
print("The GCD of", number1, "and", number2, "is", gcd)

The GCD of 24 and 36 is 12

Find the LCM of two numbers.

In [17]:
number1 = 24
number2 = 36
lcm = (number1 * number2) // math.gcd(number1, number2)
print("The LCM of", number1, "and", number2, "is", lcm)

The LCM of 24 and 36 is 72

Find the square root of a number.

In [18]:
number = 16
square_root = math.sqrt(number)
print("The square root of", number, "is", square_root)

The square root of 16 is 4.0

Find the power of a number.

In [19]:
number = 2
power = 3
result = number ** power
print(number, "raised to the power of", power, "is", result)

2 raised to the power of 3 is 8

Convert Celsius to Fahrenheit.

In [20]:
celsius = 25
fahrenheit = (celsius * 9/5) + 32
print(celsius, "degrees Celsius is", fahrenheit, "degrees Fahrenheit")

25 degrees Celsius is 77.0 degrees Fahrenheit

Convert Fahrenheit to Celsius.

In [21]:
fahrenheit = 77
celsius = (fahrenheit - 32) * 5/9
print(fahrenheit, "degrees Fahrenheit is", celsius, "degrees Celsius")

77 degrees Fahrenheit is 25.0 degrees Celsius

Convert kilometers to miles.

In [22]:
kilometers = 10
miles = kilometers / 1.609
print(kilometers, "kilometers is", miles, "miles")

10 kilometers is 6.215040397762586 miles

Convert miles to kilometers.

In [24]:
miles = 6.2
kilometers = miles * 1.609
print(miles, "miles is", kilometers, "kilometers")

6.2 miles is 9.9758 kilometers

Find the length of a string.

In [25]:
string = "Hello, World!"
length = len(string)
print("The length of the string is", length)

The length of the string is 13

Count the number of occurrences of a character in a string.

In [26]:
string = "Hello, World!"
character = "l"
count = string.count(character)
print("The character", character, "appears", count, "times in the string")

The character l appears 3 times in the string

Replace a character in a string.

In [27]:
string = "Hello, World!"
new_string = string.replace("o", "0")
print("The new string is", new_string)

The new string is Hell0, W0rld!

Check if a string contains a substring.

In [28]:
string = "Hello, World!"
substring = "World"
if substring in string:
    print(string, "contains", substring)
else:
    print(string, "does not contain", substring)

Hello, World! contains World

Remove whitespace from the beginning and end of a string.

In [29]:
string = "   Hello, World!   "
new_string = string.strip()
print("The new string is", new_string)

The new string is Hello, World!

Split a string into a list.

In [30]:
string = "apple, banana, cherry"
my_list = string.split(", ")
print(my_list)

['apple', 'banana', 'cherry']

Reverse a string.

In [31]:
string = "Hello, World!"
new_string = string[::-1]
print("The reversed string is", new_string)

The reversed string is !dlroW ,olleH

Check if a string is a palindrome.

In [32]:
string = "racecar"
if string == string[::-1]:
    print(string, "is a palindrome")
else:
    print(string, "is not a palindrome")

racecar is a palindrome

Find the maximum element in a list.

In [33]:
my_list = [4, 7, 2, 9, 5]
maximum = max(my_list)
print("The maximum element in the list is", maximum)

The maximum element in the list is 9

Find the minimum element in a list.

In [34]:
my_list = [4, 7, 2, 9, 5]
minimum = min(my_list)
print("The minimum element in the list is", minimum)

The minimum element in the list is 2

Sort a list in ascending order.

In [35]:
my_list = [4, 7, 2, 9, 5]
my_list.sort()
print("The sorted list in ascending order is", my_list)

The sorted list in ascending order is [2, 4, 5, 7, 9]

Sort a list in descending order.

In [37]:
my_list = [4, 7, 2, 9, 5]
my_list.sort(reverse=True)
print("The sorted list in descending order is", my_list)

The sorted list in descending order is [9, 7, 5, 4, 2]

Remove duplicates from a list.

In [38]:
my_list = [4, 7, 2, 9, 5, 7, 4]
new_list = list(set(my_list))
print("The new list without duplicates is", new_list)

The new list without duplicates is [2, 4, 5, 7, 9]

Merge two lists.

In [39]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print("The merged list is", merged_list)

The merged list is [1, 2, 3, 4, 5, 6]

Count the number of elements in a list.

In [40]:
my_list = [4, 7, 2, 9, 5]
count = len(my_list)
print("The number of elements in the list is", count)

The number of elements in the list is 5

Check if an element is in a list.

In [41]:
my_list = [4, 7, 2, 9, 5]
element = 7
if element in my_list:
    print(element, "is in the list")
else:
    print(element, "is not in the list")

7 is in the list

Access the first element of a tuple.

In [42]:
my_tuple = (1, 2, 3, 4, 5)
first_element = my_tuple[0]
print("The first element of the tuple is", first_element)

The first element of the tuple is 1

Access the last element of a tuple.

In [43]:
my_tuple = (1, 2, 3, 4, 5)
last_element = my_tuple[-1]
print("The last element of the tuple is", last_element)

The last element of the tuple is 5

Concatenate two tuples.

In [44]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("The concatenated tuple is", concatenated_tuple)

The concatenated tuple is (1, 2, 3, 4, 5, 6)

Find the length of a tuple.

In [45]:
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print("The length of the tuple is", length)

The length of the tuple is 5

Check if an element is in a tuple.

In [46]:
my_tuple = (1, 2, 3, 4, 5)
element = 3
if element in my_tuple:
    print(element, "is in the tuple")
else:
    print(element, "is not in the tuple")

3 is in the tuple

Create a dictionary with key-value pairs.

In [47]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
print(my_dict)

{'apple': 2, 'banana': 4, 'cherry': 6}

Access a value in a dictionary using its key.

In [48]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
value = my_dict["banana"]
print("The value of the 'banana' key is", value)

The value of the 'banana' key is 4

Add a key-value pair to a dictionary.

In [50]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
my_dict["orange"] = 8
print("The updated dictionary is", my_dict)

The updated dictionary is {'apple': 2, 'banana': 4, 'cherry': 6, 'orange': 8}

Remove a key-value pair from a dictionary.

In [51]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
del my_dict["banana"]
print("The updated dictionary is", my_dict)

The updated dictionary is {'apple': 2, 'cherry': 6}

Check if a key is in a dictionary.

In [52]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
key = "banana"
if key in my_dict:
    print(key, "is in the dictionary")
else:
    print(key, "is not in the dictionary")

banana is in the dictionary

Get all the keys in a dictionary.

In [53]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
keys = my_dict.keys()
print("The keys in the dictionary are", keys)

The keys in the dictionary are dict_keys(['apple', 'banana', 'cherry'])

Get all the values in a dictionary.

In [54]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
values = my_dict.values()
print("The values in the dictionary are", values)

The values in the dictionary are dict_values([2, 4, 6])

Get all the key-value pairs in a dictionary.

In [55]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
items = my_dict.items()
print("The key-value pairs in the dictionary are", items)

The key-value pairs in the dictionary are dict_items([('apple', 2), ('banana', 4), ('cherry', 6)])

Loop through a dictionary and print its key-value pairs.

In [56]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
for key, value in my_dict.items():
    print(key, "=", value)

apple = 2
banana = 4
cherry = 6

Sort a list of integers in ascending order.

In [57]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
print("The sorted list is", my_list)

The sorted list is [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

Sort a list of strings in alphabetical order.

In [59]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_list.sort()
print("The sorted list is", my_list)

The sorted list is ['apple', 'banana', 'cherry', 'date', 'elderberry']

Reverse a list.

In [60]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print("The reversed list is", my_list)

The reversed list is [5, 4, 3, 2, 1]